<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122146118053-rfk388gi6k9nqk57imj0n5l3c2kalfj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122146118053-rfk388gi6k9nqk57imj0n5l3c2kalfj4</string>
	<key>API_KEY</key>
	<string>AIzaSyBvZFz8g8ZnRbSeDR4LCZRAxqI_kzXhCwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>122146118053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodTodoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-riverpod-8ff02</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-riverpod-8ff02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122146118053:ios:1884fee9e45a3627c3f04c</string>
</dict>
</plist>